@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply max-h-[100%] rounded-md shadow-2xl;
}

input,
textarea,
select {
  @apply w-full p-1 border-2 border-blue-300 rounded-md shadow-lg;
  @apply mb-2;
}

input:hover,
textarea:hover,
select:hover {
  @apply border-blue-700;
}

input:focus,
textarea:focus,
select:focus {
  @apply bg-blue-100 border-blue-700;
}

h1 {
  @apply mb-3 text-xl font-bold text-center uppercase text-darkText;
}

label {
  @apply text-sm font-bold text-darkText;
}

.btn-primary {
  @apply px-4 py-1 font-bold rounded-md text-darkText bg-btnBG;
}
.btn-red {
  @apply text-white bg-btnRED;
}

.btn-delete {
  @apply bg-red-400;
}

.btn-secondary {
  @apply px-4 py-1 text-white rounded-md bg-cyan-600;
}

.btn-delete,
.btn-red {
  @apply px-4 py-1 bg-red-500 rounded-md;
}

table.basic {
  @apply w-full mb-5 rounded-md shadow-lg bg-tableBG;
}

table.basic thead tr td {
  @apply py-3 text-sm font-bold uppercase border-b border-gray-700 rounded-t-md text-headerText bg-headerBG;
}

table.basic tr td {
  @apply p-2;
}

table.basic a {
  @apply inline-flex px-2 py-1 mr-2 text-sm font-bold rounded-md text-darkText bg-btnBG;
}
