@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply w-full p-1 border-2 border-blue-300 rounded-md;
  @apply mb-2;
}

input:hover,
textarea:hover {
  @apply border-blue-700;
}

input:focus,
textarea:focus {
  @apply bg-blue-100 border-blue-700;
}

h1 {
  @apply mb-2 text-xl text-blue-900;
}

label {
  @apply text-blue-900;
}

.btn-primary {
  @apply px-4 py-1 text-white bg-blue-900 rounded-md;
}
.btn-red {
  @apply text-white bg-red-950;
}

.btn-default {
  @apply bg-gray-200;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-blue-100;
}

table.basic tr td {
  @apply p-1 border border-blue-200;
}

table.basic a {
  @apply inline-flex px-2 py-1 mr-2 text-sm text-white bg-blue-900 rounded-md;
}
